<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>sign_up</title>
</head>
<body>
    <main>
        <div>
            <h1>회원가입</h1>
        </div>
        <div>
            <input type="text" placeholder="이름">
            <input type="text" placeholder="아이디">
            <input type="password" placeholder="비밀번호">
        </div>
        <button type="button">회원가입</button>
    </main>
    <script>
        const signUpButton = document.querySelector("button");

        signUpButton.onclick = signUp;

        function signUp() {
            const userInfoInputItems = document.querySelectorAll("input");

            $.ajax({
                async: false,
                type: "post",
                url: `/api/v1/auth/join`,
                contentType: "application/json",
                data: JSON.stringify({
                    "userName": userInfoInputItems[0].value,
                    "userId": userInfoInputItems[1].value,
                    "userPassword": userInfoInputItems[2].value
                }),
                dataType: "json",
                success: (response) => {
                    if(response.data) {
                        location.replace("/main");
                    }
                },
                error: (request, status, error) => {
                    console.log(request.status);
                    console.log(request.responseText);
                    console.log(error);
                }
            })
        }
    </script>
</body>
</html>